        <div class="col-md-3 col-lg-2 sidebar-offcanvas bg-light pl-0" id="sidebar" role="navigation">
            <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Профиль</a></li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#submenu1" data-toggle="collapse" data-target="#submenu1">Reports▾</a>#}
{#                    <ul class="list-unstyled flex-column pl-3 collapse" id="submenu1" aria-expanded="false">#}
{#                       <li class="nav-item"><a class="nav-link" href="">Report 1</a></li>#}
{#                       <li class="nav-item"><a class="nav-link" href="">Report 2</a></li>#}
{#                    </ul>#}
{#                </li>#}
                <li class="nav-item"><a class="nav-link" href="{% url 'tests' %}">Тесты</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Выход</a></li>
            </ul>
        </div>
